#root {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    overflow-y: hidden;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
